@font-face {
    font-family: 'sligoil';
    src: url('https://storage.googleapis.com/playground-bucket-v2.teleporthq.io/118fe40b-b828-4df9-bb79-ffe08fd30bc7/f3f42420-0c94-4f2a-a35b-002e0248e323') format('woff2');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }